language: python

services:
  - docker

script:
  - make build
  - make test

notifications:
  email:
    recipients:
      - ab@microdisseny.com
    on_success: always # default: change
    on_failure: always # default: always
