language: python

python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"

env:
  - DJANGO="Django>=1.11,<2.0"
  - DJANGO="Django>=2.0,<2.1"
  - DJANGO="https://github.com/django/django/archive/master.tar.gz"

install:
  - pip install -r requirements.txt
  - pip install -q $DJANGO
  - pip install coveralls

script:
  - python -Wall `which coverage` run --source=. manage.py test tests

after_success: coveralls

matrix:
  exclude:
    - python: "3.3"
      env: DJANGO="Django>=1.11,<2.0"
    - python: "3.7"
      env: DJANGO="Django>=1.11,<2.0"

    - python: "2.7"
      env: DJANGO="Django>=2.0,<2.1"
    - python: "3.3"
      env: DJANGO="Django>=2.0,<2.1"
    - python: "3.7"
      env: DJANGO="Django>=2.0,<2.1"

    - python: "2.7"
      env: DJANGO="https://github.com/django/django/archive/master.tar.gz"
    - python: "3.3"
      env: DJANGO="https://github.com/django/django/archive/master.tar.gz"
    - python: "3.4"
      env: DJANGO="https://github.com/django/django/archive/master.tar.gz"

  allow_failures:
    - env: DJANGO="https://github.com/django/django/archive/master.tar.gz"
