version: "3.7"
services:

  requirements:
    container_name: giscube_giscube-admin_requirements
    build:
      context: .
      dockerfile: docker/django/ubuntu-18.04/Dockerfile
      args:
        - EXTRA_REQUIREMENTS=devel
    image: giscube_giscube-admin_requirements
    entrypoint: /bin/bash -c "chown -v www-data:www-data /app_data"
    command: []
    volumes:
      - app_data:/app_data

  db:
    image: mdillon/postgis:11
    env_file:
     - app.env
    volumes:
      - .:/app
      - ./docker-custom/postgres/dictionaries/dist/ca.affix:/usr/share/postgresql/11/tsearch_data/ca.affix
      - ./docker-custom/postgres/dictionaries/dist/ca.dict:/usr/share/postgresql/11/tsearch_data/ca.dict
      - ./docker-custom/postgres/dictionaries/dist/catalan.stop:/usr/share/postgresql/11/tsearch_data/catalan.stop
      - pg_data:/var/lib/postgresql/data


  django:
    depends_on:
      - requirements
      - db
    image: giscube_giscube-admin_requirements
    env_file:
     - app.env
    command: ["/bin/bash", "/app/docker/scripts/wait-for-it.sh", "db:5432", "--", "/bin/bash", "/app/docker-custom/django/runserver.sh"]
    volumes:
      - .:/app
      - app_data:/app_data


  uwsgi:
    depends_on:
      - requirements
      - db
    image: giscube_giscube-admin_requirements
    env_file:
     - app.env
    command: ["/bin/bash", "/app/docker/scripts/wait-for-it.sh", "db:5432", "--", "/bin/bash", "/app/docker-custom/uwsgi/uwsgi.sh"]
    volumes:
      - .:/app
      - app_data:/app_data
      - ../giscube-admin-ee-plugins:/giscube-admin-ee-plugins
      - static:/static
    environment:
      - DEBUG=False
      - STATIC_ROOT=/static


  celery:
    depends_on:
      - requirements
      - redis
      - db
    image: giscube_giscube-admin_requirements
    env_file:
     - app.env
    command: ["/bin/bash", "/app/docker/scripts/wait-for-it.sh", "db:5432", "--",  "/bin/bash", "/app/docker-custom/django/celery_devel.sh"]
    volumes:
      - .:/app
      - app_data:/app_data
      - ../giscube-admin-ee-plugins:/giscube-admin-ee-plugins


  redis:
    image: redis:latest
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data


  qgisserver:
    build:
      context: docker-custom/qgisserver/
      dockerfile: Dockerfile
    image: giscube_admin_qgisserver
    volumes:
      - app_data:/app_data

  imageserver:
    build:
      context: docker-custom/imageserver/
      dockerfile: Dockerfile
    environment:
        - MS_DEBUGLEVEL=5
    volumes:
      - app_data:/app_data


  nginx:
    image: nginx:latest
    depends_on:
      - django
      - uwsgi
      - qgisserver
      - imageserver
    volumes:
      - ./docker-custom/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./docker-custom/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - static:/static
    ports:
    - "8000:8000"
    networks:
      default:
        aliases:
          - giscube-admin


volumes:
  app_data:
  pg_data:
  redis_data:
  static:


networks:
  default:
    external:
      name: microdisseny
