celery==5.2.2
Django==3.2.17
django-admin-list-filter-dropdown==1.0.3
django-admin-rangefilter==0.9.0
django-cas-ng==3.6.0
django-celery-results==2.2.0
django-colorfield==0.3.2
django-cors-headers==3.5.0
django-db-logger==0.1.12
django-groupadmin-users==0.3.4
django-leaflet==0.28.3
django-loginas==0.3.10
django-model-utils==4.0.0
django-oauth-toolkit==2.1.0
django-sql-compiler==0.0.5a0
-e git+https://github.com/giscube/django-theme-giscube.git@django3#egg=django_theme_giscube
django-url-filter==0.3.15
django-vue-tabs==0.0.12
djangorestframework==3.12.4
djangorestframework-gis==1.0
drf-ujson2==1.6.1
OWSLib==0.28.1
pdf2image==1.11.0
Pillow==9.0.1
psycopg2==2.8.6 --no-binary psycopg2
-e git+https://github.com/giscube/tilecache.git@python3#egg=TileCache&subdirectory=tilecache
redis==3.5.3
requests==2.24.0
sentry-sdk==0.14.0
tablib==3.0.0
ujson==5.2.0
