Django==1.11.10
django-cors-headers==2.2.0
psycopg2-binary==2.7.4
requests==2.18.4
django-haystack==2.7.0
django-loginas==0.3.3
django-oauth-toolkit==1.0.0
djangorestframework==3.8.2
GDAL==1.10.0
-e git+https://github.com/giscube/django-theme-giscube.git#egg=django_theme_giscube
Pillow==5.1.0
-e git+https://github.com/giscube/tilecache.git#egg=TileCache&subdirectory=tilecache
Whoosh==2.7.4
celery==4.1.0
redis==2.10.6
django_celery_monitor==1.1.2
