amqp==5.2.0
asgiref==3.8.0
billiard==3.6.4.0
boto3==1.23.4
botocore==1.26.4
cached-property==1.5.2
celery==5.2.2
certifi==2024.2.2
cffi==1.16.0
chardet==3.0.4
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
cryptography==42.0.5
Django==3.2.17
django-admin-list-filter-dropdown==1.0.3
django-admin-rangefilter==0.9.0
django-cas-ng==3.6.0
django-celery-results==2.2.0
django-colorfield==0.3.2
django-cors-headers==3.5.0
django-db-logger==0.1.12
django-groupadmin-users==0.3.4
django-leaflet==0.28.3
django-loginas==0.3.10
django-model-utils==4.0.0
django-oauth-toolkit==2.1.0
django-sql-compiler==0.0.5a0
-e git+https://github.com/giscube/django-theme-giscube.git@django3#egg=django_theme_giscube
django-url-filter==0.3.15
django-vue-tabs==0.0.12
djangorestframework==3.12.4
djangorestframework-gis==1.0
drf-ujson2==1.6.1
enum-compat==0.0.3
idna==2.10
jmespath==0.10.0
jwcrypto==1.5.6
kombu==5.3.5
lxml==5.1.0
oauthlib==3.2.2
OWSLib==0.25.0
pdf2image==1.11.0
Pillow==9.0.1
prompt-toolkit==3.0.43
psycopg2==2.8.6
pycparser==2.21
python-cas==1.6.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
redis==3.5.3
requests==2.24.0
s3transfer==0.5.2
sentry-sdk==0.14.0
six==1.16.0
sqlparse==0.4.4
tablib==3.0.0
-e git+https://github.com/giscube/tilecache.git@python3#egg=TileCache&subdirectory=tilecache
typing-extensions==4.10.0
ujson==5.2.0
urllib3==1.25.11
vine==5.1.0
wcwidth==0.2.13
pyproj==3.4.1
GDAL==3.4.3