requests==2.17.3
django-haystack==2.5.0
django-oauth-toolkit==1.0.0
djangorestframework==3.6.4
GDAL==1.10.0
-e git+https://github.com/giscube/django-theme-giscube.git#egg=django_theme_giscube
Whoosh==2.7.4
