Django==1.11.10
django-cors-headers==2.2.0
psycopg2-binary==2.7.4
requests==2.18.4
django-haystack==2.7.0
django-loginas==0.3.3
django-oauth-toolkit==1.0.0
djangorestframework==3.7.7
GDAL==1.10.0
-e git+https://github.com/giscube/django-theme-giscube.git#egg=django_theme_giscube
Whoosh==2.7.4
