celery==4.1.1
Django==1.11.18
django-cas-ng==3.6.0
django-colorfield==0.1.14
django-cors-headers==2.2.0
psycopg2-binary==2.7.4
python-slugify==1.2.5
django-haystack==2.7.0
django-loginas==0.3.3
django-oauth-toolkit==1.0.0
django-vue-tabs==0.0.7
djangorestframework==3.9.1
djangorestframework-gis==0.13
django-url-filter==0.3.5
GDAL==1.10.0
-e git+https://github.com/giscube/django-theme-giscube.git#egg=django_theme_giscube
requests==2.21.0
ujson==1.35
drf-ujson==1.2
Pillow==5.1.0
-e git+https://github.com/giscube/tilecache.git#egg=TileCache&subdirectory=tilecache
Whoosh==2.7.4
redis==2.10.6
django_celery_monitor==1.1.2
