{% extends "django_vue_tabs/change_form.html" %}
{% load i18n %}
{% block object-tools-items %}

  <li>
      <a href="{% url 'imageserver-map-view' original.name %}" target="_blank">{% trans 'View map' %}</a>
  </li>

  {{ block.super }}
  <script>
    django.jQuery(document).ready(function($) {
      $.each($('#id_category'), function(i, element) {
        $(element).select2({
          ajax: {
            data: function (params) {
              var query = {
                term: params.term,
                page: params.page,
                app_label: element.dataset.appLabel,
                model_name: element.dataset.modelName,
                field_name: element.dataset.fieldName,
                category: $('#id_category').val()
              }
              return query
            }
          }
        })
      });
    });
  </script>
{% endblock %}

{% block content %}
  {{ block.super }}
  {% if original.pk %}
    {% include 'admin/giscube/giscube-maptiler.html' %}
  {% endif %}
{% endblock %}
